@media (min-width: 767px) {
    .parlour {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        /* padding: 0 5rem; */
    }

    .div1 {
        display: flex;
        height: fit-content;
        padding: 2rem 3rem;
        /* background-color: aqua; */
        align-items: center;
        gap: 2rem;
    }
    .div1 .parlour-image {
        display: flex;
        width: 30%;
        max-width: 420px;
        height: 80%;
        background-color: cadetblue;
        /* object-fit: cover; */
    }
    .div1 .parlour-image .p-img {
        min-width: 300px;
        max-width: 420px;
        width:fit-content;
        object-fit: cover;
        overflow: hidden;
    }
    .div1 .title-details {
        width: 40%;
        height: 80%;
        /* padding: 0.75rem; */
    }
    .title-details .parlour-title {
        align-items: start;
        gap: 2rem;
    }
    .title-details .parlour-title h2 {
        font-weight: 700;
    }
    .title-details .parlour-title p{
        background-color: #06283D;
        padding: 0.15rem 0.5rem;
        color: #fff;
        border-radius: 5px;
        margin-top: 5px;
    }
    .title-details .stars-rating {
        margin-top: 0.5rem;
        background-color: #47B5FF61;
        border-radius: 5px;
        padding: 0.75rem 0.75rem 1rem 0.75rem;
    }
    .title-details .stars-rating p{
        font-size: 18px;
        margin-bottom: 0.5rem;
        margin-top: 0;
        font-weight: 500;
    }
    .div1 .offer {
        width: 30%;
        height: 80%;
        background-color: burlywood;
        padding: 0.75rem;
        border-radius: 5px;
        color: white;
    }

    .div2 {
        display: flex;
        background-color: azure;
        gap: 2rem;
        margin: 0 3rem 0 3rem;
    }
    .div2 .categories {
        width: 20%;
        height: fit-content;
        justify-content: flex-end;
        /* background-color: cadetblue; */
    }
    .div2 .categories h2 {
        display: flex;
        justify-content: flex-end;
    }
    .div2 .categories ul {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }.div2 .categories ul li {
        display: flex;
        padding: 0.75rem;
        background-color: violet;
        justify-content: flex-end;
        color: white;
        border-radius: 5px;
    }
    .div2 .services {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: fit-content;
        gap: 0.25rem;
        /* background-color: thistle; */
    }
    .services h2 {
        display: flex;
        justify-content: center;
    }
    .services .service-item {
        background-color: #47B5FF61;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
    }

    .div2 .timeSlots {
        width: 20%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .timeSlots .available-slots {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;
    }
    .timeSlots .available-slots h3 {
        font-weight: 600;
        color: black;
        display: flex;
        justify-content: center;
    }
    .timeSlots .available-slots div {
        background-color: slateblue;
        color: white;
        padding: 0.5rem;
        width: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .timeSlots .already-booked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;
    }
    .timeSlots .already-booked h3 {
        color: black;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }
    .timeSlots .already-booked div {
        background: #47B5FF61;
        color: blue;
        padding: 0.5rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .select-gender {
        margin-top: 1.5rem;
    }

    .map {
        display: flex;
        margin-top: 2rem;
        width: 100%;
        height: 50vh;
        background-color: cadetblue;
        color: white;
        justify-content: center;
        align-items: center;
    }
    .map h3 {
        display: flex;
        /* justify-content: center; */
        color: white;
        font-size: 32px;
        font-weight: 700;
    }

    .booked-services {
        padding: 2rem 3rem;
        width: 100%;
    }
    .booked-services .wrapper {
        display: flex;
        flex-direction: column;
        background-color: #06283Dcc;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #06283D;
        color: white;
        padding: 1rem 2rem;
    }
    .wrapper h5 {
        margin: 0.5rem auto;
    }
    .booked-services .wrapper .the-service {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }
    .booked-services p {
        font-weight: 700;
    }
}


/* mobile screen */

@media (max-width: 766px) {
    .parlour {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
        height: max-content;
        gap: 2rem;
    }
    .div1 .parlour-image {
        height: 20vh;
        width: 100%;
        max-width: 670px;
        background-color: cadetblue;
        object-fit: contain;
    }
    .parlour-image .p-img {
        min-width: 50px;
        max-width: 670px;
        width: inherit;
        height: inherit;
        /* object-fit: contain; */
    }
    .div1 .title-details {
        height: max-content;
        width: 100%;
        /* background-color: blueviolet; */
        color: black;
        padding: 0;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title-details .parlour-title {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.25rem;
    }
    .title-details .parlour-title h2 {
        font-weight: 700;
    }
    .title-details .parlour-title p{
        background-color: #06283D;
        padding: 0.15rem 0.5rem;
        color: #fff;
        border-radius: 5px;
        margin-top: 5px;
        font-weight: 500;
    }
    .stars-rating {
        justify-content: center;
    }
    .stars-rating p {
        padding: 0;
        margin: 0;
    }
    .div1 .offer {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 20vh;
        width: 100%;
        padding: 0;
    }
    .div1 .offer .offer-text {
        background-color: burlywood;
        color: white;
        padding: 0.75rem;
        border-radius: 5px;
    }
    .div1 .offer .offer-text a {
        color: black;
    }
    .offer .fav-button {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .select-gender {
        display: flex;
        padding: 0;
        margin-top: 1.5rem;
        flex-direction: column;
        gap: 0.5rem;
    }

    .div2 {
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
        margin: 0;
        gap: 2rem;
        justify-content: center;
        width: 100%;
    }
    .div2 .categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;
        gap: 1rem;
    }
    .div2 .categories h2 {
        display: flex;
        justify-content: center;
    }
    .div2 .categories ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
    }
    .div2 .categories ul li {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        width: 100%;
        padding: 0.75rem;
        background-color: violet;
        color: white;
        border-radius: 5px;
    }

    .div2 .services {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }
    .div2 .services h2 {
        display: flex;
        justify-content: center;
    }
    .div2 .services .service-item {
        display: flex;
        background-color: #47B5FF61;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
    }

    .div2 .timeSlots {
        display: flex;
        flex-direction: column;
        width: inherit;
    }
    .div2 .timeSlots h3 {
        display: flex;
        justify-content: center;
    }
    .timeSlots .available-slots {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .timeSlots .available-slots div {
        background-color: slateblue;
        color: white;
        padding: 0.5rem;
        width: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .timeSlots .already-booked {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;
    }
    .timeSlots .already-booked div {
        background-color: #47B5FF61;
        color: steelblue;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }
    /* .timeSlots .already-booked div span {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    } */

    .booked-services {
        padding: 2rem 3rem;
        width: 100%;
    }
    .booked-services .wrapper {
        display: flex;
        flex-direction: column;
        background-color: #06283Dcc;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #06283D;
        color: white;
        padding: 1rem 2rem;
    }
    .wrapper h5 {
        margin: 0.5rem auto;
    }
    .booked-services .wrapper .the-service {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 1rem 0;
    }
    .booked-services p {
        font-weight: 700;
    }

    .map {
        display: flex;
        margin-top: 2rem;
        width: 100%;
        height: 50vh;
        background-color: cadetblue;
        color: white;
        justify-content: center;
        align-items: center;
    }
    .map h3 {
        display: flex;
        /* justify-content: center; */
        color: white;
        font-size: 32px;
        font-weight: 700;
    }
}