@media (min-width: 767px) {
    .parlour {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        /* padding: 0 5rem; */
    }

    .div1 {
        display: flex;
        height: fit-content;
        padding: 2rem 3rem;
        /* background-color: aqua; */
        align-items: center;
        gap: 2rem;
    }
    .div1 .parlour-image {
        display: flex;
        width: 30%;
        max-width: 420px;
        height: 80%;
        background-color: cadetblue;
        /* object-fit: cover; */
    }
    .div1 .parlour-image .p-img {
        min-width: 300px;
        max-width: 420px;
        width:fit-content;
        object-fit: cover;
        overflow: hidden;
    }
    .div1 .title-details {
        width: 40%;
        height: 80%;
        /* padding: 0.75rem; */
    }
    .title-details .parlour-title {
        align-items: start;
        gap: 2rem;
    }
    .title-details .parlour-title h2 {
        font-weight: 700;
    }
    .title-details .parlour-title p{
        background-color: #06283D;
        padding: 0.15rem 0.5rem;
        color: #fff;
        border-radius: 5px;
        margin-top: 5px;
    }
    .title-details .stars-rating {
        margin-top: 0.5rem;
        background-color: #47B5FF61;
        border-radius: 5px;
        padding: 0.75rem 0.75rem 1rem 0.75rem;
    }
    .title-details .stars-rating p{
        font-size: 18px;
        margin-bottom: 0.5rem;
        margin-top: 0;
        font-weight: 500;
    }
    .div1 .offer {
        width: 30%;
        height: 80%;
        background-color: burlywood;
        padding: 0.75rem;
        border-radius: 5px;
        color: white;
    }

    .div2 {
        display: flex;
        background-color: azure;
    }
    .div2 .categories {
        width: 20%;
    }
    .div2 .services {
        width: 50%;
    }
    .div2 .timeSlots {
        width: 30%;
    }

    .select-gender {
        margin-top: 1.5rem;
    }
}


/* mobile screen */

@media (max-width: 766px) {
    .parlour {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
        height: max-content;
        gap: 2rem;
    }
    .div1 .parlour-image {
        height: 20vh;
        width: 100%;
        max-width: 670px;
        background-color: cadetblue;
        object-fit: contain;
    }
    .parlour-image .p-img {
        min-width: 50px;
        max-width: 670px;
        width: inherit;
        height: inherit;
        /* object-fit: contain; */
    }
    .div1 .title-details {
        height: max-content;
        width: 100%;
        /* background-color: blueviolet; */
        color: black;
        padding: 0;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title-details .parlour-title {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.25rem;
    }
    .title-details .parlour-title h2 {
        font-weight: 700;
    }
    .title-details .parlour-title p{
        background-color: #06283D;
        padding: 0.15rem 0.5rem;
        color: #fff;
        border-radius: 5px;
        margin-top: 5px;
        font-weight: 500;
    }
    .stars-rating {
        justify-content: center;
    }
    .stars-rating p {
        padding: 0;
        margin: 0;
    }
    .div1 .offer {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 20vh;
        width: 100%;
        padding: 0;
    }
    .div1 .offer .offer-text {
        background-color: burlywood;
        color: white;
        padding: 0.75rem;
        border-radius: 5px;
    }
    .div1 .offer .offer-text a {
        color: black;
    }
    .offer .fav-button {
        display: flex;
        justify-content: center;
    }

    .select-gender {
        display: flex;
        padding: 0;
        margin-top: 1.5rem;
        flex-direction: column;
        gap: 0.5rem;
    }
}